<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="eBizService">
                    <security mode="Transport"/>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://soap.ebizcharge.net/eBizService.svc" binding="basicHttpBinding" bindingConfiguration="eBizService" contract="eBizDevService.IeBizService" name="eBizService"/>
        </client>
    </system.serviceModel>
</configuration>
